@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  :root {
    --color-primary: hsl(0, 0%, 100%);
    --color-secondary: hsl(203, 98%, 50%);
    --color-white: hsl(208, 11%, 30%);
    --color-black: hsl(0, 0%, 0%);
    --color-grey0: hsl(0, 0%, 97%);
    --color-grey-1: hsl(206, 10%, 47%);
    --color-grey-2: hsl(206, 10%, 47%);
    --color-grey-3: hsl(206, 10%, 47%);
    --color-grey-4: hsl(208, 11%, 30%);
    --color-grey-5: hsl(0, 0%, 95%);
    --color-grey-6: hsl(200, 20%, 9%);
  }
  .dark-mode {
    --color-primary: hsl(229, 33%, 9%);
    --color-secondary: hsl(203, 98%, 50%);
    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 0%);
    --color-grey0: hsl(0, 0%, 97%);
    --color-grey-1: hsl(212, 22%, 88%);
    --color-grey-2: hsl(213, 21%, 75%);
    --color-grey-3: hsl(206, 10%, 47%);
    --color-grey-4: hsl(208, 11%, 30%);
    --color-grey-5: hsl(225, 10%, 16%);
    --color-grey-6: hsl(200, 20%, 9%);
    --br-sm-2: 14px;
    --box-shadow-1: 0 5px 15px hsla(0, 0%, 0%, 0.3);
  }
  body {
    background-color: var(--color-primary);
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all 0.4s ease-in-out;
  }
  a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
  }
  header {
    min-height: 100vh;
    color: var(--color-white);
    overflow: hidden;
    padding: 0 !important;
  }
  section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
  }
  .container {
    display: none;
    transform: translateY(-100%) scale(0);
    transition: all 0.5s ease-in-out;
    background-color: var(--color-primary);
  }
  .active {
    display: block;
    animation: appear 1s ease-in-out;
    transform: translateY(0) scaleY(1);
  }
  @keyframes appear {
    0% {
      transform: translateY(-100%) scaleY(0);
    }
    100% {
      transform: translateY(0) scaleY(1);
    }
  }
  .controls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
  }
  .controls .control {
    padding: 1rem;
    cursor: pointer;
    background-color: var(--color-grey-4);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.7rem 0;
    box-shadow: var(--box-shadow-1);
  }
  .controls .control i {
    font-size: 1.2rem;
    color: var(--color-grey-2);
    pointer-events: none;
  }
  .controls .active-btn {
    background-color: var(--color-secondary);
    transition: all 0.4s ease-in-out;
  }
  .controls .active-btn i {
    color: var(--color-white);
  }
  .theme-btn {
    top: 5%;
    right: 3%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-grey-4);
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease-in-out;
  }
  .theme-btn:active {
    transform: translateY(-3px);
  }
  .theme-btn i {
    font-size: 1.4rem;
    color: var(--color-grey-2);
    pointer-events: none;
  }
  
/* header */
.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    text-align: center;
  }
  .header-content .left-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .header-content .left-header .image {
    height: 80%;
    width: 80%;
  }
  .header-content .left-header .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 100%; */
  }
  .header-content .right-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 15rem;
  }
  .header-content .right-header .name {
    font-size: 2.3rem;
  }
  .header-content .right-header .name span {
    color: var(--color-secondary);
    /* font-style: italic; */
  }
  .header-content .right-header p {
    margin: 1.5rem 0;
    line-height: 2rem;
    font-weight: 500;
  }
  #name {
    color: var(--color-secondary);
    font-style: italic;
    font-weight: 700;
    text-decoration: underline;
  }
  #front {
    color: var(--color-secondary);
    font-style: italic;
    font-weight: 500;
  }
  /* end header */